In [1]:
import pandas as pd
import os
import numpy

In [2]:
df=pd.read_csv('Resources/election_data.csv')
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
#Total number of votes
Total_votes= df.shape[0]
print(Total_votes)

3521001

In [4]:
pd.Series(df['Candidate']).drop_duplicates().tolist()

['Khan', 'Correy', 'Li', "O'Tooley"]

In [8]:
#Candidates who received votes
Candidates=df['Voter ID'].dropna()
Candidates=Candidates.drop_duplicates()
Candidates= Candidates.count()
Candidates

3521001

In [10]:
#The % of votes for each candidate

SyntaxError: EOL while scanning string literal (<ipython-input-10-68a213a8944a>, line 2)

In [ ]:
#Total number of votes for each candidate

In [ ]:
#The winner