In [2]:
import pandas as pd
import os

In [17]:
data=pd.read_csv("Resources/budget_data.csv")
data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [35]:
#How many months?
total_rows = data.shape[0]
print (total_rows)

86

In [39]:
#Total profit
Profit =data['Profit/Losses'].sum()
print(Profit)

38382578

In [49]:
#Average change
Change= data['Profit/Losses'].diff()
ChangeAvg= Change.mean()

print("%.2f" %ChangeAvg)

-2315.12

In [61]:
#Maximum difference
MaxInc=df.diff(axis=0).max()

print(MaxInc)

Profit/Losses   $1,926,159.00
dtype: float64

In [62]:
#Greatest decrease
MaxDecr=df.diff(axis=0).min()
print(MaxDecr)

Profit/Losses   $-2,196,167.00
dtype: float64